<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>

</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <img src="http://placehold.it/300x100" imageViewer />

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input #email formControlName="email" type="email" placeholder="Your email address"
          [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message"
        *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input #password formControlName="password" type="password" placeholder="Your password"
          [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message"
        *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <button ion-button block type="submit">
        Login
      </button>




    </form>
-->
<ion-card>
  A Geolocation Photo Mapping App
</ion-card>

    <button ion-button block (click)="goToList()">
      Login Anonymously
    </button>






<!--  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate> -->
<!--
  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <button ion-button block (click)="loginUser(email, password)">
    Login
  </button>
</form>

-->


</ion-content>
